<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @post.title %>
</p>

<p>
  <b>Body:</b>
  <%= @post.body %>
</p>

<%= form_tag post_tweet_url do %>
  <%= image_submit_tag 'TwitterButton01.png' %>
  <%= hidden_field_tag 'post_id', @post.id %>
<% end %>
<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
